In [2]:
import pandas as pd
import json
import pymongo

In [3]:
client = pymongo.MongoClient('mongodb://localhost:27017')
display(client)
client.list_database_names()

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

['admin', 'config', 'local']

In [4]:
file_path = 'ProjectTweets.csv'
df = pd.read_csv(file_path, sep=',', names=['ids', 'date', 'flag', 'user', 'text'], skiprows=1)
# Skip the first row if it's a header row
display(df.head())

,ids,date,flag,user,text
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
data = df.to_dict(orient="records")

In [6]:
db = client["tweet_db"]
display(db)
db.tweet.insert_many(data)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'tweet_db')